$themes: (
  light: (
    mainBackgroundColor: rgb(230,230,230),
    navbarBackgroundColor:#f8f9fa,
  ),
  dark: (
    mainBackgroundColor: rgb(35,31,32),
    navbarBackgroundColor:rgb(35,31,32),
  ),
);