$themes: (
    light: (
        mainBackgroundColor: rgb(230, 230, 230),
        navbarBackgroundColor: #f8f9fa,
        clientPanelBackgroundColor: #f7f7f7,
        clientPanelColor: #d81e1e,
    ),
    dark: (
        baseFontFamily: "Gotham Book" sans-serif,
        mainBackgroundColor: rgb(35, 31, 32),
        navbarBackgroundColor: rgb(35, 31, 32),
        clientPanelBackgroundColor: #ffb60f,
        clientPanelColor: rgb(35, 31, 32),
    ),
);
