$wixOrange: rgb(255, 182, 15);
$wixOrangeHover: rgb(238, 170, 15);
$wixOrangeDarker: rgb(189, 138, 20);
$wixBlack: rgb(35, 31, 32);
$wixDarkGray: rgb(42, 42, 42);
$lightNav: #f8f9fa;
$lightBgC: rgb(230, 230, 230);
$gray9: #f7f7f7;
$gray5: #a0a3a6;
$gray4: #96989b;
$gray2: #666;
$white: white;
$grayBorder: rgb(102, 102, 102);
$promotionTag: #556e81;
$black: black;
$blue: #004c97;
$themes: (
    //..............................................................................
        light:
        (
            //all{
                mainBackgroundColor: $lightBgC,
            //}
                //nav-menu{
                navbarBackgroundColor: $lightNav,
            navbarFontColor: $gray5,
            //}
                //client-panel{
                cardBackgroundColor: $white,
            extraTagLabelBackgroundColor: $promotionTag,
            extraTagLabelFontColor: $white,
            btnAvailabilityBg: $gray5,
            btnAvailabilityBgH: $gray4,
            btnAvailabilityFontBg: $white,
            pagerBgC: $white,
            pagerBorderC: $lightBgC,
            pagerBorderCH: $gray5,
            pagerActiveBg: $gray5,
            pagerActiveBorderC: $gray5,
            pagerFontC: $gray2,
            //}
                //basket-summary{
                basketSummaryBg: $white,
            backetSummaryBorderC: $white,
            backetSummaryFontC: $wixBlack,
            //}
                //order-options{
                orderOptionsBg: $gray9,
            orderOptionsBtnBg: $gray9,
            orderOptionsBtnBgH: $gray2,
            orderOptionsBtnFontC: $gray2,
            orderOptionsBtnFontCH: $white,
            orderOptionsBtnBorderC: $gray2,
            //}
                //footer{
                footerBgC: $lightNav,
            footerFontC: $gray5,
            footerFontCH: $wixBlack,
            footerBorderC: $lightNav,
            //}
                clientPanelColor: #d81e1e,
            clientPanelColorBlue: rgb(3, 88, 153),
            clientPanelBackgroundColor: #f8f9fa,
            clientPanelDivider: #e4e6e7,
            basketColorHover: #8b8e91,
            basketColor: #a0a3a6,
            //{budgetHistory{
                color: $wixBlack,
            budgetBgC: $gray2,
            //}
                //productDetails{
                prodDetailsC: $gray2,
            prodDetailsBorder: $grayBorder,
            prodDetailsTextC: $black,
            prodDetailsBtnContC: $lightNav,
            //}
                //carousel{
                carouselC: $blue //}
        ),
    // ..............................................................................
        dark: (
            //all{
                mainBackgroundColor: $wixBlack,
            //}
                //nav-menu{
                navbarBackgroundColor: $wixOrange,
            navbarFontColor: $wixBlack,
            //}
                //client-panel{
                cardBackgroundColor: $white,
            extraTagLabelBackgroundColor: $wixOrange,
            extraTagLabelFontColor: $wixBlack,
            btnAvailabilityBg: $wixOrange,
            btnAvailabilityBgH: $wixOrangeHover,
            btnAvailabilityFontBg: $wixBlack,
            pagerBgC: $wixOrange,
            pagerBorderC: $wixOrangeHover,
            pagerBorderCH: $wixOrangeDarker,
            pagerActiveBg: $wixOrangeDarker,
            pagerActiveBorderC: $wixOrangeDarker,
            pagerFontC: $wixBlack,
            //}
                //basket-summary{
                basketSummaryBg: $wixBlack,
            backetSummaryBorderC: $wixOrange,
            backetSummaryFontC: $white,
            //}
                //order-options{
                orderOptionsBg: $wixOrange,
            orderOptionsBtnBg: $wixDarkGray,
            orderOptionsBtnBgH: $wixBlack,
            orderOptionsBtnFontC: $white,
            orderOptionsBtnFontCH: $white,
            orderOptionsBtnBorderC: $wixDarkGray,
            //}
                //footer{
                footerBgC: $wixOrange,
            footerFontC: $wixBlack,
            footerFontCH: $wixBlack,
            footerBorderC: $wixOrangeDarker,
            //}
                //clinetPanel{
                clientPanelColor: rgb(35, 31, 32),
            clientPanelColorBlue: rgb(35, 31, 32),
            clientPanelBackgroundColor: rgb(255, 182, 15),
            clientPanelDivider: white,
            basketColorHover: #a0a3a6,
            basketColor: #8b8e91,
            //}
                //{budgetHistory{
                budgetColor: $white,
            budgetBgC: $wixOrange,
            //}
                //productDetails{
                prodDetailsC: $white,
            prodDetailsBorder: $wixOrange,
            prodDetailsTextC: $wixOrange,
            prodDetailsBtnContC: $wixBlack,
            //}
                //carousel{
                carouselC: $wixOrange //}
        )
);
