.admin-panel {
  background: url(../images/bg_top_2.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0 20px 0;
  .admin-panel__left-column {
    .slider {
      .slide-content {
        text-align: center;
        .text-header {
          margin-top: 10px;
          color: #4d4f51;
        }
        .text-content {
          color: #333;
          font-size: 17px;
        }
        .btn-sign-up {
          margin-top: 5px;
          border: 2px solid #004c97;
          padding: 5px 25px;
        }
      }
    }
    .divider-white {
      margin: 15px 0;
      display: block;
      height: 1px;
      background: #fff;
    }
    .left-column__news-container {
      .news-img {
        width: 100%;
      }
      .news {
        text-align: center;
        margin-top: 10px;
        .news-header {
          color: #4d4f51;
          text-transform: uppercase;
        }
        .news-text {
          color: #333;
          font-size: 17px;
          margin: 10px;
        }
      }
    }
  }
  .admin-panel__logged-panel {
    background-color: #f7f7f7;
    padding: 20px;
    .logged-panel-header {
      text-transform: uppercase;
    }
    p {
      color: #98a3a8;
      font-size: 16px;
    }
    .logged-panel-btn-group {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .left-btn {
        width: 130px;
        border: 2px solid #004c97;
        margin: 5px 0;
        font-size: 12px;
      }
      .right-btn {
        width: 130px;
        border: 2px solid #004c97;
        margin: 5px 0;
        font-size: 12px;
      }
    }
    .divider {
      margin: 15px 0;
      display: block;
      height: 1px;
      background: #e4e6e7;
    }
    .logged-panel__purchase-value {
      .purchase-text {
        .purchase-header {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
          padding-top: 15px;
        }
        .value {
          color: #4d4f51;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    .logged-panel__distributors {
      margin-bottom: 15px;
      .distributors-text {
        margin: 0;
        span {
          font-weight: bold;
        }
      }
      .distributors-btn {
        width: 130px;
        border: 2px solid #004c97;
        margin: 5px 0;
        font-size: 12px;
      }
    }
    .logged-panel__status {
      span {
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .admin-panel {
    .admin-panel__left-column {
      .slider {
        .slide-content {
          .text-content {
            color: #333;
            font-size: 14px;
          }
        }
      }
      .left-column__news-container {
        .news {
          .news-text {
            color: #333;
            font-size: 14px;
            margin: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .admin-panel {
    .admin-panel__left-column {
      .slider {
        .slide-content {
          .text-header {
            color: #4d4f51;
            font-size: 25px;
          }
          .text-content {
            color: #333;
            font-size: 13px;
          }
        }
      }
      .left-column__news-container {
        margin-bottom: 20px;
      }
    }
  }
}
