@import './mixins/mixins.scss';

$blue:rgb(3,88,153);

.basket-summary {
    margin: 0 auto;
    text-align: right;
    .summary-row{
        @include themify($themes) {
            background-color: themed('basketSummaryBg');
            border-color:themed('backetSummaryBorderC');
            color:themed('backetSummaryFontC');
        }
        border: .1rem solid;
        .summary-p{
            padding: 1rem 0.6rem !important;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

.badge-blue{
    position: relative;
    top: 17px;
    left: -10px;
    color: white;
    font-size: 0.7rem;
    height: 16px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .basket-summary {
        width: 100%;
    }
}
