.basket-box{
    &:hover{
        .basket{
            color: #8b8e91;
        }
    }
}
.basket {
    transition: 0.3s;
    color: #a0a3a6;
}
.basket-title{
    position: relative;
    left: -8px;
}
.basket-counter{
    position: relative;
    left: -12px;
    top: 5px;
    color: white;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 8px;
}
.counter-gray{
    background-color: #dee1e6;
    color: gray;
}
.counter-blue{
    background-color: rgb(3,88,153);
}
.no-deco{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.cart {
    margin-top: 10px;
    .collection-item {
        width: 90%;
        margin: 0 auto;
        .item-basket-img {
            width: 30%;
        }
    }
    .desc-col {
        background-color: #f7f7f7;
        padding: 10px;
        .text-right {
            button {
                font-size: 13px;
            }
        }
    }
    .basket-quantity-input {
        width: 80px;
        padding: 4px;
        margin: 5px;
        background-color: #f7f7f7;
        &:hover {
            color: black;
        }
    }
    .basket-button {
        font-size: 2rem;
    }
    .product-quantity {
        margin: 0;
        padding: 5px;
        color: #004c97;
    }
}
.emptyBasket {
    padding-left: 60px;
}
@media (max-width: 767px) {
    .cart {
        .collection-item {
            width: 100%;
            .item-basket-img {
                width: 50%;
                margin: 5px;
            }
        }
    }
}
