@import "./mixins/mixins.scss";

.budget-history {
    min-height: calc(100vh - 57px);
    padding-top: 70px;
    @include themify($themes) {
        background-color: themed("mainBackgroundColor");
    }
    @include themify($themes) {
        color: themed("budgetColor");
    }
    //background: url(/static/media/bg_top_2.850d8c2c.jpg) center no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    .budgetTitles {
        display: flex;
        justify-content: space-between;
        .titleBudgetHistory {
            margin: 0;
            padding-top: 10px;
        }
        .titleBudgetAtTheBegging {
            padding-top: 20px;
            margin-right: 0;
        }
    }
    .remainingBudgetTitle {
        display: flex;
        justify-content: flex-end;
    }
    table {
        background-color: white;
        th,
        .cell {
            padding: 5px 8px;
        }
        th {
            @include themify($themes) {
                background-color: themed("budgetBgC");
            }
            border-top: 0;
            font-weight: 500;
            color: white;
        }
        td {
            padding: 0;
            color: rgb(0, 0, 0);
            font-weight: 300;
            position: relative;
            border: none;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        td:last-child {
            display: flex;
            justify-content: flex-end;
        }
        tr {
            transition: 0.1s;
            &:hover {
                background-color: rgb(211, 211, 211);
            }
        }
    }
}
