$blue: rgb(3, 88, 153);
$gray: #a0a3a6;

.client-side {
    background: url(../images/bg_top_2.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    min-height: calc(100vh - 57px);
    padding: 90px 10px 0 10px;
    .card-container {
        .card {
            border: none;
            border-radius: 0;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
            .card-body{
                .availability-alert{
                    color: #d81e1e;;
                }
            }
        }
        .buttons-container {
            margin: 7px auto 7px auto;
            .product-input {
                width: 60px;
                height: 33px;
                border-radius: 0;
            }
        }
    }
    .navigation-pager {
        margin-top: 1.5rem;
        .page-item.active {
            .page-link {
                background-color: $blue;
                border-color: $blue;
            }
        }
    }
}

@media (min-width: 1839px) {
    .client-side {
        padding: 90px 50px 0 50px;
    }
}

@media (max-width: 1838px) {
    .client-side {
        padding: 70px 16px 0 24px;
    }
}

@media (max-width: 991px) {
    .client-side {
        .card-container {
            display: flex;
            justify-content: center;
        }
    }
}

@media (min-width: 992px) {
    .card {
        flex: none;
    }
}

@media (max-width: 450px) {
    .client-panel {
        margin-top: 20px;
    }
    .client-side {
        padding: 50px 0px;
        .container-fluid {
            .buttons-container {
                padding-left: 8px;
                .product-input {
                    font-size: 11px;
                    width: 60px;
                }
                .product-basket-icon {
                    font-size: 0.8em;
                }
            }
        }
    }
}
