.client-side {
    background: url(../images/bg_top_2.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    min-height: 1000px;
    padding: 90px 10px 0 10px;
    .card-container {
        .buttons-container {
            margin: 0 auto;
            .product-input {
                width: 50px;
            }
        }
    }
}

@media (min-width: 1839px) {
    .client-side {
        padding: 90px 50px 0 50px;
    }
}

@media (max-width: 1838px) {
    .client-side {
        padding: 70px 20px 0 20px;
    }
}

@media (max-width: 991px) {
    .client-side {
        .card-container {
            display: flex;
            justify-content: center;
        }
    }
}

@media (min-width: 992px) {
    .card {
        flex: none;
    }
}

@media (max-width: 400px) {
    .client-side {
        padding-top: 70px;
        .container-fluid {
            .buttons-container {
                padding-left: 8px;
                .product-input {
                    font-size: 11px;
                    width: 40px;
                }
                .product-basket-icon {
                    font-size: 0.8em;
                }
            }
        }
    }
}
