.client-panel {
    margin-top: 15px;
    .admin-panel__logged-panel {
        background-color: #f7f7f7;
        box-shadow:0px 0px 6px rgba(0,0,0,0.2);
        padding: 20px;
        .logged-panel-header {
            text-transform: uppercase;
        }
        p {
            color: #98a3a8;
            font-size: 16px;
        }
        .divider {
            margin: 15px 0;
            display: block;
            height: 1px;
            background: #e4e6e7;
        }
        .logged-panel__purchase-value {
            .purchase-text {
                .available-budget {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 15px 0;
                }
                .budget-alert {
                    color: red;
                }
                .purchase-header {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;
                    padding-top: 15px;
                }
                .value {
                    color: #4d4f51;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
        .logged-panel__distributors {
            margin-bottom: 15px;
            .distributors-text {
                margin: 0;
                span {
                    font-weight: bold;
                }
            }
            .distributors-btn {
                width: 130px;
                border: 2px solid #004c97;
                margin: 5px 0;
                font-size: 12px;
            }
        }
        .logged-panel__status {
            span {
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 1518px) {
    .logged-panel-btn-group {
        .button-basket {
            font-size: 13px;
            padding: 6px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .client-panel {
        width: 87%;
        margin: 18px auto 20px auto;
    }
}
