.footer {
    background-color: #f8f9fa;
    color: #a0a3a6;
    text-transform: uppercase;
    width: 100%;
    bottom: 0;
    height: 55px;
    bottom: 0;
    .footer-text-line {
        display: flex;
        align-items: center;
        .footer-regulations {
            color: #a0a3a6;
            &:hover {
                color: black;
            }
        }
    }
}
@media (max-width: 450px) {
    .footer-regulations {
        font-size: 12px;
    }
    .footer-contact {
        font-size: 12px;
    }
}
