.footer-links {
    text-decoration: none;
    margin-top: 10px;
}

ul {
    list-style: none;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

li {
    border-left: solid 1px #a0a3a6;
}

footer {
    background-color: black;
}

.footer-logo {
    padding-top: 10px;
}
