@import "./mixins/mixins.scss";

.footer {
    @include themify($themes) {
        background-color: themed("footerBackgroundColor");
    }
    border: 0;
    @include themify($themes) {
        color: themed("footerColor");
    }
    text-transform: uppercase;
    width: 100%;
    bottom: 0;
    height: 55px;
    bottom: 0;
    .footer-text-line {
        display: flex;
        align-items: center;
        .footer-regulations {
            // @include themify($themes) {
            //     color: themed("footerColor");
            // }
            &:hover {
                color: black;
            }
        }
    }
}
@media (max-width: 450px) {
    .footer-regulations {
        font-size: 12px;
    }
    .footer-contact {
        font-size: 12px;
    }
}
