.content-header {
  background: url(../images/bg_top_2.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0 20px 0;
  .container {
    .login-panel {
      background-color: #f7f7f7;
      margin-left: 10px;
      .form {
        input {
          border: 0;
        }
        .head-text {
          color: black;
          font-size: 20px !important;
          line-height: 1.1;
          margin: 3px 0;
          padding: 0;
          text-transform: uppercase;
        }
        p {
          color: #98a3a8;
          font-size: 16px;
          margin: 0;
          padding: 0;
        }
        .recovery-password {
          margin-top: 10px;
        }
        .btn-sign-up {
          margin-top: 5px;
          border: 2px solid #004c97;
          padding: 4px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-header {
    margin-bottom: 80px;
    .login-panel {
      margin-left: 0;
      .form {
        padding: 20px 10px !important;
        .head-text {
          font-size: 18px !important;
        }
        p {
          font-size: 16px;
        }
        .recovery-password {
          font-size: 14px;
        }
        .btn {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .content-header {
    .login-panel {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
