.container-fluid {
  .navbar-collapse {
    margin-left: 10px;
    .nav-item {
      .nav-link {
        width: 130px;
        text-align: center;
        &:hover {
          background-color: #a0a3a6;
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .container-fluid {
    .navbar-collapse {
      margin-left: 10px;
      .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
          width: 100px;
          text-align: center;
          vertical-align: middle;
          &:hover {
            background-color: #a0a3a6;
            color: #fff;
          }
        }
      }
    }
  }
}
