.order-options {
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    .options-header {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
