.order-history {
    min-height: calc(100vh - 57px);
    padding-top: 70px;
    background: url(/static/media/bg_top_2.850d8c2c.jpg) center no-repeat;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .order-history {
        padding-top: 30px;
        .order-container {
            padding: 0;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 422px) {
    .order-history {
        .order-history-delivery {
            font-size: 13px;
            margin: 5px 0;
        }
    }
}
