@import "./mixins/mixins.scss";
.modal-dialog {
    .modal-text-header{
        color: black;
    }
    .modal-text-content{
        color: black;
    }
    .btn-conf-button{
        @include themify($themes) {
            border-color: themed("endBoxBtnBorderC");
            background-color:themed("endBoxBtnBg");
            color:themed("endBoxBtnColor");
            &:hover{
                border-color: themed("endBoxBtnBorderC");
                background-color:themed("endBoxBtnBgH");
                color:themed("endBoxBtnColor");
            }
        }
    }
}
       