.card {
    margin: 5px 0px 5px 0px;
    max-width: 295px;
    .card-img {
        height: 180px;
        .card-img-wrapper {
            margin: 0 auto;
            .card-img-content {
                max-height: 180px;
                max-width: 100%;
            }
        }
        .card-body {
            .btn {
                border: 2px solid #004c97;
                background: transparent;
                color: #004c97;
            }
        }
    }
    .card-text {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) and (max-width: 1475px) {
    .card {
        max-width: 235px;
        .card-img {
            height: 170px;
            .card-img-wrapper {
                .card-img-content {
                    max-height: 170px;
                }
            }
        }
    }
}

@media (min-width: 1839px) {
    .card {
        max-width: 320px;
    }
}

@media (max-width: 625px) {
    .card {
        max-width: 220px;
        .card-img {
            height: 150px;
            .card-img-wrapper {
                .card-img-content {
                    max-height: 150px;
                }
            }
        }
    }
}

@media (max-width: 475px) {
    .card {
        max-width: 180px;
        .card-img {
            height: 150px;
            .card-img-wrapper {
                .card-img-content {
                    max-height: 150px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .card {
        max-width: 157px;
        .card-img {
            height: 90px;
            .card-img-wrapper {
                .card-img-content {
                    max-height: 90px;
                }
            }
        }
        .card-title {
            font-size: 15px;
            margin-bottom: 2px;
        }
        .card-text {
            strong {
                font-size: 11px;
            }
        }
        .card-available-quantity {
            font-size: 11px;
        }
    }
}
