.product-details {
    background: url(../images/bg_top_2.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 60px;
    height: 900px;
    .product-details-container {
        .product-details-content {
            margin-top: 100px;
            .product-details-desc {
                background-color: #f7f7f7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .product-details-header {
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .product-details-text {
                    text-transform: uppercase;
                    font-size: 15px;
                    color: #004c97;
                    font-weight: bold;
                }
                .product-buttons-container {
                    width: 230px;
                    padding-left: 14px;
                    .product-input {
                        width: 50%;
                    }
                }
            }
        }
    }
}
